:root {
  --dl-black: #212121ff;
  --dl-creme: #f9f9ffff;
  --dl-white: #f8f9f9ff;
  --dark-purple: #311D4A;
  --main-purple: #9381FF;
  --light-purple: #B8B8FF;
}

.body {
  font-size: 24px;
  font-family: Montserrat;
  font-weight: 400;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.sidetitle {
  font-size: 122px;
  font-family: Montserrat;
  font-weight: 500;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.subtitleText {
  font-size: 32px;
  font-style: normal;
  font-family: Montserrat;
  font-weight: 500;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.Title {
  font-size: 96px;
  font-family: Montserrat;
  font-weight: 500;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}

html {
  line-height: 1.15;
}
body {
  margin: 0;
}
* {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
}
p,
li,
ul,
pre,
div,
h1,
h2,
figure,
blockquote,
figcaption {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: inherit;
}
input {
  padding: 2px 4px;
}
img {
  display: block;
}
html {
  scroll-behavior: smooth;
}
