/* Define the scrollbar style */
::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-image: linear-gradient(180deg, var(--light-purple) 0%, var(--main-purple) 99%);
    box-shadow: inset 2px 2px 5px 0 var(--creme);
    border-radius: 100px;
  }
  
  html {
    font-family: Montserrat;
    font-size: 24px;
    scroll-behavior: smooth;
  }
  
  body {
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
    letter-spacing: normal;
    line-height: 1.15;
    color: var(--black);
    background-color: var(--creme);
  }
  
  .home-container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
  }
  .home-container1 {
    flex: 0 0 auto;
    width: auto;
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }
  .home-container2 {
    flex: 0 0 auto;
    width: auto;
    display: flex;
    align-self: center;
    margin-top: 5rem;
    align-items: center;
    margin-bottom: 15rem;
    flex-direction: column;
    justify-content: center;
  }
  .home-text {
    font-size: 36px;
    text-align: center;
    font-family: Montserrat;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
      radial-gradient(
        50% 50% at 50% 50%,
        rgba(147, 129, 255, 0.2) 0%,
        rgba(79, 26, 98, 0.2) 94.12%
      );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }
  .home-text01 {
    margin-top: 1rem;
    text-align: center;
    margin-bottom: 1rem;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
      radial-gradient(
        50% 50% at 50% 50%,
        rgba(147, 129, 255, 0.2) 0%,
        rgba(79, 26, 98, 0.2) 94.12%
      );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }
  .home-text02 {
    width: 31rem;
    text-align: center;
    color: var(--dark-purple);
  }
  .home-container3 {
    flex: 0 0 auto;
    width: 100%;
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }
  .home-text03 {
    width: 25rem;
    text-align: center;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
      radial-gradient(
        50% 50% at 50% 50%,
        rgba(147, 129, 255, 0.2) 0%,
        rgba(79, 26, 98, 0.2) 94.12%
      );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }
  .home-text17 {
    width: auto;
    margin-top: 5rem;
    text-align: left;
    padding: 5rem;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 5rem;
    row-gap: 5rem;
    color: var(--dark-purple);
    background-color: aquamarine;
  }
  .home-container4 {
    flex: 0 0 auto;
    width: auto;
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }
  
  .home-container5 {
    flex: 0 0 auto;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  .home-text18 {
    width: auto;
    margin-top: 15rem;
    text-align: center;
    margin-bottom: 5rem;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
      radial-gradient(
        50% 50% at 50% 50%,
        rgba(147, 129, 255, 0.2) 0%,
        rgba(79, 26, 98, 0.2) 94.12%
      );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }
  .home-container6 {
    flex: 0 0 auto;
    width: auto;
    height: auto;
    display: flex;
    align-items: flex-start;
    margin-bottom: 15rem;
    justify-content: center;
  }
  .home-text19 {
    width: 15rem;
    align-self: center;
    text-align: center;
    color: var(--dark-purple);
  }
  .home-text20 {
    width: 15rem;
    align-self: center;
    text-align: center;
    color: var(--dark-purple);
  }
  .home-text21 {
    width: 15rem;
    align-self: center;
    text-align: center;
    color: var(--dark-purple);
  }
  .home-text23 {
    width: 15rem;
    align-self: center;
    text-align: center;
  }
  .home-footer {
    width: 100%;
    height: 197px;
    display: flex;
    max-width: auto;
    align-self: center;
    align-items: center;
    padding-top: 32px;
    padding-left: 48px;
    padding-right: 48px;
    padding-bottom: 32px;
    justify-content: center;
  }
  .home-text24 {
    text-align: center;
    color: var(--dark-purple);
  
  }
  @media (max-width: 1600px) {
    .home-container1 {
      width: 100%;
    }
    .home-container2 {
      align-items: center;
      justify-content: center;
    }
    .home-text01 {
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
    .home-container3 {
      width: 100%;
    }
    .home-text03 {
      width: auto;
      margin: 3rem;
      padding: 2rem;
    }
    .home-text17 {
      width: 40rem;
      margin-top: 7rem;
      text-align: left;
      margin-right: 5rem;
    }
    .home-container4 {
      width: auto;
      justify-content: center;
    }
    .home-container5 {
      width: auto;
      height: auto;
      align-items: center;
      justify-content: center;
    }
    .home-text18 {
      width: auto;
      height: auto;
      margin-top: 5rem;
      text-align: center;
      margin-bottom: 5rem;
    }
    .home-container6 {
      width: 100%;
      margin-bottom: 15rem;
    }
    .home-olivia {
      width: 20rem;
      height: auto;
      align-items: center;
      justify-content: center;
    }
    .home-olivia-text {
      width: auto;
      font-size: 46px;
      font-family: Montserrat;
      font-weight: 500;
      line-height: 1.15;
      margin-bottom: 2rem;
      text-transform: none;
      text-decoration: none;
    }
    .home-text19 {
      width: 15rem;
      text-transform: none;
    }
    .home-elijah {
      width: 20rem;
      height: auto;
      align-items: center;
      justify-content: center;
    }
    .home-elijah-text {
      width: auto;
      font-size: 46px;
      font-family: Montserrat;
      font-weight: 500;
      line-height: 1.15;
      margin-bottom: 2rem;
      text-transform: none;
      text-decoration: none;
    }
    .home-text20 {
      width: 15rem;
      text-transform: none;
    }
    .home-sierra {
      width: 20rem;
      height: auto;
      align-items: center;
      justify-content: center;
    }
    .home-sierra-text {
      width: auto;
      font-size: 46px;
      font-family: Montserrat;
      font-weight: 500;
      line-height: 1.15;
      margin-bottom: 2rem;
      text-transform: none;
      text-decoration: none;
    }
    .home-text21 {
      margin-bottom: 2rem;
    }
    .home-text23 {
      width: 15rem;
      text-transform: none;
      color: var(--dark-purple);
    }
  }
  @media (max-width: 1200px) {
    .home-text01 {
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
    .home-container6 {
      align-items: center;
    }
    .home-olivia {
      width: 15rem;
      margin-left: 1rem;
      margin-right: 1rem;
    }
    .home-olivia-text {
      width: auto;
    }
    .home-text19 {
      width: 12rem;
    }
    .home-elijah {
      width: 15rem;
      margin-left: 1rem;
      margin-right: 1rem;
    }
    .home-elijah-text {
      width: auto;
    }
    .home-text20 {
      width: 12rem;
    }
    .home-sierra {
      width: 15rem;
      margin-left: 1rem;
    }
    .home-sierra-text {
      width: auto;
    }
    .home-text23 {
      width: 12rem;
    }
  }
  @media (max-width: 991px) {
    .home-container2 {
      width: 100%;
      height: 307px;
    }
    .home-text01 {
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
    .home-container6 {
      align-items: center;
      flex-direction: column;
    }
    .home-olivia {
      width: 20rem;
      margin-bottom: 3rem;
    }
    .home-olivia-text {
      width: auto;
    }
    .home-text19 {
      width: auto;
    }
    .home-elijah {
      width: 20rem;
      margin-bottom: 3rem;
    }
    .home-elijah-text {
      width: auto;
    }
    .home-text20 {
      width: auto;
    }
    .home-sierra {
      width: 20rem;
    }
    .home-sierra-text {
      width: auto;
    }
    .home-text23 {
      width: 100%;
    }
  }
  @media (max-width: 767px) {
    .home-text01 {
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
    .home-footer {
      padding-left: 32px;
      padding-right: 32px;
    }
    .home-text24 {
      text-align: center;
      margin-left: 16px;
      margin-right: 16px;
    }
  }
  @media (max-width: 479px) {
    .home-text01 {
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
    .home-text02 {
      width: 479px;
    }
    .home-text03 {
      margin-top: 0rem;
      margin-left: 3rem;
      margin-right: 0rem;
      margin-bottom: 0rem;
    }
    .home-footer {
      padding: 16px;
      flex-direction: column;
    }
    .home-text24 {
      margin-left: 0px;
      margin-right: 0px;
      margin-bottom: 16px;
    }
  }
  